.DS_Store
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.mdb
*.shp*
*.shx
*.xls*
*_files
docs
libs
output
renv/library

# Ignore analysis output folders
source/rmarkdown/analyses_diversity/nematodes_final/
source/rmarkdown/analyses_diversity/resultaten2/
source/rmarkdown/analyses_diversity/test_dieptelagen_apart/
